<%- include('includes/head.ejs') %>

    <div class="title">
        <p style="margin: 0 auto;"> <%= dic.header %> </p>

        <button class="btn btn-lg btn-primary btn-block" onclick="document.getElementById('form').submit();" style="width: 10px;">Stop</button>
    </div>

    <div id="wrapper">
        <form method="post" action="/home/play" id="form">
            ​<textarea id="textArea" name="textarea" style="width: 100%;" rows="5" cols="50" onPaste="return false"
                       placeholder="Yozish..."></textarea>
            <input type="hidden" name="id" value="<%= dic.id %>">
            <input type="hidden" name="uname" value="<%= user %>">
        </form>


    </div>
    <audio id="audioID" autoplay loop>
        <source src="upload/<%= dic.audio %>" type="audio/mp3">
    </audio>

<script>
    const textArea2 = document.getElementById('textArea');
    const myaudio = document.getElementById("audioID");

    textArea2.addEventListener('input', () => {
        myaudio.play();
    })

</script>
    <%- include('includes/footer.ejs') %>